/***** CSS RESET *****/
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** STYLE *****/

body { 
    font-family: "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif; 
    font-size: 12px;
    line-height: 15px;
    background-color: #b8b8b7;
    margin: 0;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    border-bottom: dashed 1px #DDD;
    font-size: 1.875em;
    line-height: 1.066667em;
    margin-bottom: 1em;
    text-align: center;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.333333em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 1.25em;
    line-height: 1.6em;
    margin-top: 1.333333em;
    margin-bottom: 1.333333em;
}

p {
    font-size: 1em;
    line-height: 1.3em;
}

a, a:visited { 
    color: #4488FF
    text-decoration: none; 
}

a:hover, a:active { 
    text-decoration: underline; 
}

.titlebar {
    background-color: #414648;
    width: 100%;
    height: 95px;
}

.mainpanel {
    margin: 1em;
}

.salutation {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 1em;
    vertical-align: top;
    text-align: right;
    color: #b8b8b7;
}

.table {
    background: #d9d9d9;
    border-spacing: 1px;
    border-collapse: separate;
    line-height: 20px
}

.nodes {
    width: 100%;
}

.gbar {
    position: absolute;
    border: 0px;
    border-collapse: collapse;
}

.tableheader {
    background-color: #ACACAC;
    color: #fff;
    font-size: 11px;
    text-align: center;
}

.tablecell {
    padding-left: 5px;
    padding-right: 5px;
}

.oddrow {
    background-color: #fff;
}

.evenrow {
    background-color: #f0f0f0;
}

.container_12 {
    margin-top: 40px;
}

.gcell {
    position: float;
    float: left;
    line-height: 3em;
}

.tabcell {
    position: float;
    float: left;
}

.gtab {
    width: 50px;
    height: 35px;
    position: float;
    float: left;
    margin: 5px;
    position: relative;
    text-align: center;
}

.tab {
    width: 80px;
    height: 20px;
    position: float;
    float: left;
    margin: 3px;
    position: relative;
    text-align: center;
    background-color: #818181;
}

.tab_selected {
    background-color: white;
}

.gtabtext {
    bottom: 0;
    color: #b8b8b7;
    line-height: 0;
    margin-top: 0;
    margin-bottom: 0;
} 

.tabtext {
    bottom: 0;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.gtabimage_selected {
    position: absolute;
    left: 14px;
    top: 0;
}

.gtabtext_selected {
    background-color: #ACACAC;
    color: #fff;
} 

.tabtext_selected {
    color: black;
}

.general-lightbox {
    background-color: #b8b8b7;
    border: solid 5px #b8b8b7;
    text-align: center;
}

.login-logo {
    background-color: #414648;
}

.login-input {
    width: 350px;
}

.lightbox_background {
    opacity: 0.7;
}

.login-input-panel {
    margin: 2em;
}

.workloadiq-logo {
    text-align: right;
}

.outer-backsplash {
    position: relative;
    top: 23px;
    background-color: #fff
}

.inner-backsplash {
    margin: 1em;
    padding: 1em;
}

div.inplace_textbox.label {
    font-weight: normal;
}

.staging-controlbar {
    text-align: right;
}

.application {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.dialog-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 98;
}

.outer-dialog {
    background-color: white;
    position: absolute;
    top: 0;
    left: 50%;
    width: 700px;
    height: 500px;
    margin-left: -350px;
    z-index: 99;
}

.inner-dialog {
    position: relative;
    width: 653px;
    height: 383px;
    background-color: #e6e6e4;
    margin: 1em;
    padding: 1em;
}

.edit-form {
    position: absolute;
    top: 0;
    left: 150px;
    width: 400px;
    padding: 0.5em;
}

.edit-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
}

.edititem {
    padding: .5em;
}

.edititem-label {
    float: left;
}

.inplace_textbox.view.label {
    font-weight: normal;
}


